<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>短视频列表页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0819T5RCLD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0819T5RCLD');
    </script>
    <meta name="keywords" content="视频素材, 短视频, 视频列表, 视频播放, 短视频平台" />
    <meta name="Description" content="视频素材, 短视频, 视频列表, 视频播放, 短视频平台">
    <meta property="og:url" content="https://v.codelin.vip">
    <meta property="og:site_name" content="短视频,视频素材">
    <meta property="og:title" content="短视频,视频素材">
    <meta property="og:description" content="视频素材, 短视频, 视频列表, 视频播放, 短视频平台">
    <meta property="og:locale" content="zh_CN">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://v.codelin.vip{{url_for('static', filename='vlogo.png')}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://v.codelin.vip{{url_for('static', filename='vlogo.png')}}">
    <meta name="twitter:title" content="短视频,视频素材">
    <meta name="twitter:description" content="视频素材, 短视频, 视频列表, 视频播放, 短视频平台">
</head>

<body>
    <h1>短视频列表页</h1>
    <!-- 视频列表，格式修改为grid -->
    <ul class="video-list">
        <!-- 视频列表项 -->
        {% for video in videos %}
        <li>
            <div class="video-item">
                <a href="{{ url_for('video_detail', video_id=video.video_id) }}">

                    <!-- 视频封面 -->
                    <img src="{{ video.image_url }}" alt="{{ video.video_title }}" class="video-thumbnail" />
                    <p><i class="fas fa-video"></i> {{ video.video_title }}</p>
                    <!-- 视频item的发布时间 -->
                    <p>发布时间: {{ video.time }}</p>
                    <!-- 视频item的播放量 -->
                    <p>{{video.video_number}}</p>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- 分页 -->
    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('index', page_num=page-1) }}">&laquo; 上一页</a>
        {% endif %}
        <span>第 {{ page }} 页</span>
        {% if page < total_pages %} <a href="{{ url_for('index', page_num=page+1) }}">下一页 &raquo;</a>

            {% endif %}
    </div>
    <script src="{{ url_for('static',filename='js.js')}}"></script>
    
    <script>
        send("home")
    </script>
</body>

</html>