<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>短视频列表页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h1>短视频列表页</h1>
    <!-- 视频列表，格式修改为grid -->
    <ul class="video-list">
        <!-- 视频列表项 -->
        {% for video in videos %}
        <li>
            <a href="{{ url_for('video_detail', video_id=video.video_id) }}">
                <div class="video-item">
                    <!-- 视频封面 -->
                    <img src="{{ video.image_url }}" alt="{{ video.video_title }}" class="video-thumbnail" />
                    <p><i class="fas fa-video"></i> {{ video.video_title }}</p>
                    <!-- 视频item的发布时间 -->
                    <p>发布时间: {{ video.time }}</p>
                    <!-- 视频item的播放量 -->
                    <p>{{video.video_number}}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <!-- 分页 -->
    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('index', page_num=page-1) }}">&laquo; 上一页</a>
        {% endif %}
        <span>第 {{ page }} 页</span>
        {% if page < total_pages %} <a href="{{ url_for('index', page_num=page+1) }}">下一页 &raquo;</a>
            {% endif %}
    </div>
</body>

</html>