<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频详情页</title>
    <script src="https://cdn.jsdelivr.net/npm/artplayer/dist/artplayer.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0819T5RCLD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0819T5RCLD');
    </script>

    <meta name="keywords" content="视频素材, 短视频, 视频列表, 视频播放, 短视频平台"/>
    <meta name="Description" content="视频素材, 短视频, 视频列表, 视频播放, 短视频平台">
    <meta property="og:url" content="https://v.codelin.vip">
    <meta property="og:site_name" content="短视频">
    <meta property="og:title" content="短视频">
    <meta property="og:description" content="视频素材, 短视频, 视频列表, 视频播放, 短视频平台">
    <meta property="og:locale" content="zh_CN">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://v.codelin.vip{{url_for('static', filename='vlogo.png')}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://v.codelin.vip{{url_for('static', filename='vlogo.png')}}">
    <meta name="twitter:title" content="短视频,视频素材">
    <meta name="twitter:description" content="视频素材, 短视频, 视频列表, 视频播放, 短视频平台">
</head>

<body>
    <!-- 视频详情页，可以播放视频    
    # "video_id": "INTEGER PRIMARY KEY",
    # "video_title": "TEXT",
    # "download_url": "TEXT",
    # "image_url": "TEXT",
    # "video_number": "INTEGER",
    # "Video_platform": "TEXT",
    # "time": "TEXT",
    # "tips": "TEXT",
    # 开始把data的tuple对象转化为字典-->
    <div class="video-detail">

        <!-- 集成artplayer -->
        <div class="artplayer-app"></div>
        <script src="{{ url_for('static',filename='js.js')}}"></script>

        <script>
            const art = new Artplayer({
                container: '.artplayer-app',
                url: '{{ video.download_url }}',
                poster: '{{ video.image_url }}',
                title: '{{ video.video_title }}',
                volume: 1,
                isLive: false,
                muted: false,
                autoplay: true,
                pip: false,
                autoSize: true,
                autoMini: true,
                screenshot: false,
                setting: true,
                loop: true,
                flip: true,
                playbackRate: true,
                aspectRatio: true,
                fullscreen: true,
                fullscreenWeb: true,
                subtitleOffset: true,
                miniProgressBar: true,
                mutex: true,
                backdrop: true,
                playsInline: true,
                autoPlayback: true,
                airplay: true,
                theme: '#23ade5',
                lang: navigator.language.toLowerCase(),
                moreVideoAttr: {
                    crossOrigin: 'anonymous',
                },
                settings: [
                    {
                        width: 200,
                        html: 'Subtitle',
                        tooltip: 'Bilingual',
                        icon: '<img width="22" heigth="22" src="/assets/img/subtitle.svg">',
                        selector: [
                            {
                                html: 'Display',
                                tooltip: 'Show',
                                switch: true,
                                onSwitch: function (item) {
                                    item.tooltip = item.switch ? 'Hide' : 'Show';
                                    art.subtitle.show = !item.switch;
                                    return !item.switch;
                                },
                            },
                            {
                                default: true,
                                html: 'Bilingual',
                                url: '/assets/sample/subtitle.srt',
                            },
                            {
                                html: 'Chinese',
                                url: '/assets/sample/subtitle.cn.srt',
                            },
                            {
                                html: 'Japanese',
                                url: '/assets/sample/subtitle.jp.srt',
                            },
                        ],
                        onSelect: function (item) {
                            art.subtitle.switch(item.url, {
                                name: item.html,
                            });
                            return item.html;
                        },
                    },
                    {
                        html: 'Switcher',
                        icon: '<img width="22" heigth="22" src="/assets/img/state.svg">',
                        tooltip: 'OFF',
                        switch: false,
                        onSwitch: function (item) {
                            item.tooltip = item.switch ? 'OFF' : 'ON';
                            console.info('You clicked on the custom switch', item.switch);
                            return !item.switch;
                        },
                    },
                    {
                        html: 'Slider',
                        icon: '<img width="22" heigth="22" src="/assets/img/state.svg">',
                        tooltip: '5x',
                        range: [5, 1, 10, 0.1],
                        onRange: function (item) {
                            return item.range[0] + 'x';
                        },
                    },
                    {
                        html: 'Button',
                        icon: '<img width="22" heigth="22" src="/assets/img/state.svg">',
                        tooltip: 'tooltip',
                        onClick() {
                            return 'Button clicked';
                        }
                    },
                ],
                contextmenu: [
                    {
                        html: 'Custom menu',
                        click: function (contextmenu) {
                            console.info('You clicked on the custom menu');
                            contextmenu.show = false;
                        },
                    },
                ],
                /* layers: [
                     {
                         html: '<img width="100" src="/assets/sample/layer.png">',
                         click: function () {
                             window.open('https://aimu.app');
                             console.info('You clicked on the custom layer');
                         },
                         style: {
                             position: 'absolute',
                             top: '20px',
                             right: '20px',
                             opacity: '.9',
                         },
                     },
                 ],
                   quality: [
                     {
                         default: true,
                         html: 'SD 480P',
                         url: '{{ video.download_url }}?q=480',
                     },
                     {
                         html: 'HD 720P',
                         url: '{{ video.download_url }}?q=720',
                     },
                     {
                         html: 'HD 1080P',
                         url: '{{ video.download_url }}?q=1080',
                     },
                 ],  */
                thumbnails: {
                    url: '{{ video.image_url }}',
                    number: 60,
                    column: 10,
                    scale: 0.85,
                },
                subtitle: {
                    url: '/assets/sample/subtitle.srt',
                    type: 'srt',
                    style: {
                        color: '#fe9200',
                        fontSize: '20px',
                    },
                    encoding: 'utf-8',
                },
                highlight: [
                    {
                        time: 15,
                        text: 'One more chance',
                    },
                    {
                        time: 30,
                        text: '谁でもいいはずなのに',
                    },
                    {
                        time: 45,
                        text: '夏の想い出がまわる',
                    },
                    {
                        time: 60,
                        text: 'こんなとこにあるはずもないのに',
                    },
                    {
                        time: 75,
                        text: '终わり',
                    },
                ],
                /*  controls: [
                    {
                        position: 'right',
                        html: 'Control',
                        index: 1,
                        tooltip: 'Control Tooltip',
                        style: {
                            marginRight: '20px',
                        },
                        click: function () {
                            console.info('You clicked on the custom control');
                        },
                    },
                ],  
                icons: {
                    loading: '<img src="/assets/img/ploading.gif">',
                    state: '<img width="150" heigth="150" src="/assets/img/state.svg">',
                    indicator: '<img width="16" heigth="16" src="/assets/img/indicator.svg">',
                },*/
            });
            send("{video_detail={{video.video_id}},title={{video.video_title}}}")
        </script>
        <p>描述: {{ video.video_title }}</p>
        <p>上传时间: {{ video.time }}</p>
        <p>点赞数: {{ video.video_number }}</p>
        <p>地址: id={{ video.video_id }} <a href="{{video.download_url}}">url下载地址</a></p>

    </div>

</body>

</html>